{% extends 'base.html.twig' %}

{% block title %}Evenement
{% endblock %}

{% block body %}
	<div class="container-fluid">
		{{ form_start(form) }}
			<h3 class="event-title text-center mb-4 pt-3 fs-4">Perticipatez dans l'evenement !</h3>
		<div class="card card-show bg-primary m-auto mb-3 col-lg-3">
			<h3 class="hometitle text-center mt-4 mb-4 pt-3 fs-4">{{outing.title}}</h3>
			<p class="mx-3">{{ outing.datetime }}</p>
			<div class="my-3 col-10 m-auto fs-5">
				{{ form_row(form.begin) }}
			</div>
			<div class="my-3 col-10 m-auto fs-5">
				{{ form_row(form.end) }}
			</div>
			<div class="my-3 col-10 m-auto d-flex justify-content-center">
				<button type="submit" class="btn btn-primary col-10 my-3 fs-5 p-1">Réserver</button>
			</div>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}