{% extends 'base.html.twig' %}

{% block title %}Escargot
{% endblock %}


{% block body %}
	<div class="d-flex justify-content-center mt-5 mb-5">
		<div class="card-body text-center m-2 col-lg-6" style="max-width: 1000px;">
			<h3 class="card-title-impacts text-center text-primary pb-4">De petits mouvements peuvent avoir de grands impacts !</h3>
			<img src="{{ asset('build/images/action.jpg') }}" class="img-fluid rounded-5" width="auto" height="auto" alt="Action in nature">
		</div>
	</div>
	<div class="d-flex justify-content-center mx-2 mb-5 mt-5">
		<div class="card-body text-center text-light p-2 bg-primary rounded-5 col-lg-6" style="max-width: 1000px;">
			<h4 class="card-title text-center p-3">L'association d'escargot en action réalisez une mission de bénévolat Ramassage de déchets</h4>
			<p class="card-text p-2">Chaque année, des centaines de tonnes de déchets se retrouvent dans la nature, volontairement ou involontairement.
									Ils ont un impact sans pareil sur la faune et sur la flore : fragmentation du plastique sous forme de microplastiques, blessures d’animaux,
							        pollution des sols… Même s’il convient de lutter contre la génération de déchets à la source, en modifiant ses comportements individuels pour 
						        	privilégier par exemple des achats avec le moins d’emballages possibles, il est important à court terme de limiter la pollution durable des milieux. 
									Au-delà de l’effet bénéfique immédiat, la collecte de déchets est un excellent moyen pédagogique et convivial pour encourager à la prise de 
									conscience et en apprendre plus sur le contenu de nos poubelles.</p>
		</div>
	</div>

	<div class="d-flex justify-content-center mx-2 mb-5 mt-5">
		<div class="card-body text-center border border-3 border border-primary rounded-5 col-lg-6" style="max-width: 1000px;">
			<h4 class="card-title text-center p-3">Réalisez une mission de bénévolat Ramassage de déchets</h4>
			<p class="card-text p-2">Chaque année, des centaines de tonnes de déchets se retrouvent dans la nature, volontairement ou involontairement.
									Ils ont un impact sans pareil sur la faune et sur la flore : fragmentation du plastique sous forme de microplastiques, blessures d’animaux, pollution des sols… 
	 								Même s’il convient de lutter contre la génération de déchets à la source, en modifiant ses comportements individuels pour privilégier par exemple 
									des achats avec le moins d’emballages possibles, il est important à court terme de limiter la pollution durable des milieux.																		
									Au-delà de l’effet bénéfique immédiat, la collecte de déchets est un excellent moyen pédagogique et convivial pour encourager à la prise de conscience 												
									et en apprendre plus sur le contenu de nos poubelles.</p>
		</div>
	</div>
	<div class="row row-cols-1 row-cols-md-3 mx-1">
		<div class="col">
			<div class="action-card rounded-5 border border-secondary card mx-auto my-2 my-lg-3">
				{% for outing in outings %}
					<img src="{{ asset('build/images/differentSortOf.jpg') }}" class="rounded-top card-img-top" alt="image les deshetes">
					<div class="d-flex flex-column justify-content-between h-100">
						<div class="p-3">
							<h5 class="card-title d-flex pt-4">
								Title
								{{ outing.description }}
							</h5>
							<p class="card-text">
								{{ outing.description }}
								Trouvez une mission de bénévolat Ramassage de déchets parmi les missions actuellement disponibles et faites vivre l'engagement de chacun pour tous :<b>
									30/05/2023 (data)</b>
							</p>
							<p class="action-card-description card-text blockquote-footer pt-3"></p>
						</div>
						<div class="inscription m-2">
							{% if app.user %}
								<div class="inscription">
									<a class="btn btn-outline-primary p-1 mb-3" href="{{ path('app_evenement', {id: outing.id})}}">
										Participez à l'evenement</a>
									{# <a href="{{ path('app_inscription', {id: outing.id})}}">
										<i class="bi {{ app.user.addInscription(outing) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
									</a> #}
								</div>
								<div class="inscription">
								{% else %}
									<a class="btn btn-outline-primary p-1 mb-3" href="{{ path('app_login') }}">
										Connectez vous pour participate</a>
								</div>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
