{% extends 'base.html.twig' %}

{% block title %}
	Proshaine sorties volentaries :
{% endblock %}

{% block body %}
	<div class="proshaineSorties">
		<h2 class="m-5">Voici les proshaine sorties volentaries :
		</h2>
		<div class="container text-start">
			<div class="row row-cols-2">
				<div class="col">
					{% for outing in outings %}
						<div class="card mt-5 m-5" style="width: 18rem;">
							<img src="{{ asset('build/images/trea.jpg') }}" class="card-img-top" alt="Photo">
							<div class="card-body">
								<h5 class="card-title">{{ outing.description }}</h5>
								<p class="card-text">Je contribue à réduire les déchets d'emballages à usage unique.</p>
								
								<a href="#" class="btn btn-primary">Inscrire</a>
							</div>
						</div>
					{% else %}
						Aucune sortie a été trouvé.
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="logout mb-5 ms-5 gap-2">
		{% if app.user %}
			<div class="col">
				<div class="row">
					<div class="logout m-2">
						<h5>{{ app.user.email }}</h>
						<a class="btn btn-outline-success" href="{{ path('app_logout') }}">
							Se déconnecter</a>
					</div>
					<div class="row">
						<div class="logout m-2">
						{% else %}
							<a class="btn btn-outline-success" href="{{ path('login') }}">
								Se connecter</a>
						</div>
					</div>
				{% endif %}
			</div>
		{% endblock %}
