{% extends 'base.html.twig' %}

{% block title %}Outing index
{% endblock %}

{% block body %}
	<div class="adminOuting">
		<h1>Outing index</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Description</th>
					<th>OutingName</th>
					<th>UpdatedAt</th>
					<th>DateTime</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for outing in outings %}
					<tr>
						<td>{{ outing.id }}</td>
						<td>{{ outing.description }}</td>
						<td>{{ outing.outingName }}</td>
						<td>{{ outing.updatedAt ? outing.updatedAt|date('Y-m-d H:i:s') : '' }}</td>

						<td>
							<a href="{{ path('app_admin_action_show', {'id': outing.id}) }}">show</a>
							<a href="{{ path('app_admin_action_edit', {'id': outing.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_admin_action_new') }}">Create new</a>
	</div>
{% endblock %}
