{% extends 'base.html.twig' %}

{% block title %}Outing{% endblock %}

{% block body %}
    <h1>Outing</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ outing.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ outing.description }}</td>
            </tr>
            <tr>
                <th>OutingName</th>
                <td>{{ outing.outingName }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ outing.updatedAt ? outing.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateTime</th>
                <td>{{ outing.dateTime }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_action_index') }}">back to list</a>

    <a href="{{ path('app_admin_action_edit', {'id': outing.id}) }}">edit</a>

    {{ include('admin_action/_delete_form.html.twig') }}
{% endblock %}
